

body{
    background-image: url(../img/background\ \(2\).jpg);
    background-repeat: repeat;
    background-size: 100%;
    object-fit: cover;
}



#carouselExampleAutoplaying{
    display: flex;
    margin-inline: auto;
    width: 1020px;
    height: 720px;

}


article{
    color: #f0f8ff;
    size: 5px;
}
#normal{
   height: 90%;
   width: 90%;
}

div iframe{
    display:flex;
    margin-inline: auto;
    width:150vh;
    height:60vh;
    border: 1px solid #ccc;
}

#menu{
    color: #1111d6;
    
}

/* .gitlink{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    min-height:100vh;
    position: fixed;
    top:0;
    right:0;
    width:80px;
} 
.gitlogo{
    
    width:30px;
    height:40px;
    filter:invert(1);
    transition: 0.3s ease-in-out;
}
.gitlogo:hover{
    transform: scale(1.2);
} */

.usuarios .lista  p{

    min-width:120px;
    font-size:20px;
}
.usuarios .lista.itens{
    display: inline-block;
    margin-left: 20%;
    
}
.usuarios img{
    display: inline-block;
    margin-left: 20%;
}
