

body{
    background-image: url(../img/background\ \(2\).jpg);
    background-repeat: repeat;
    background-size: 100%;
    
}

#usuarios{
    display: flex;
    
}
article{
    color: aliceblue;
    size: 10px;
}
#normal{
   height: 90%;
   width: 90%;
}

iframe{
    border: 1px solid #ccc;
}
#menu{
    color: #1111d6;
    
}

#img1{
    

    height: 920px;
}
#img2{
    
    height: 920px;
}
.navbar-brand{
    color:#ff8fa3;
}

.nav-link{
    color:#ff8fa3;
}

